<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form method="POST" action="/team">
        <label for="team-name">Team Name:</label>
        <input type="text" name="name" placeholder="Super Sonics" id="team-name"><br>
        
        <label for="coach">Coach:</label>
        <input type="text" name="coach" placeholder="Coach Karl" id="coach"><br>
        
        <label for="point-gaurd">Point Gaurd:</label>
        <input type="text" name="pg" placeholder="Gary Peyton" id="pg"><br>
        
        <label for="shooting-gaurd">Shooting Gaurd:</label>
        <input type="text" name="sg" placeholder="Detlaf Shremf" id="sg"><br>
        
        <label for="power-forward">Power Forward:</label>
        <input type="text" name="pf" placeholder="Sean Kemp" id="pf"><br>
        
        <label for="small-forward">Small Forward:</label>
        <input type="text" name="sf" placeholder="Nate Perkins" id="sf"><br>
        
        <label for="center">Center:</label>
        <input type="text" name="c" placeholder="Shaq" id="c"><br>
        
        <input type="submit" id="submit-team">
    </form>
 </body>
</html>


